[user]
	name = Filip Taifas
	email = andreifilip123@gmail.com
[push]
	default = simple
[core]
	excludesfile = /Users/$USER/.gitignore_global
	editor = nvim
[hub]
    protocol = ssh
[alias]
	unstage = reset HEAD --
